{% extends "base.html.twig" %}

{% block body %}

<h1>My Article </h1>

<table>
{% for article in articles %}
    <tr>
        <td>{{article.titre}} </td> 
        <td>{{article.description}}</td>  
        <td>{{article.createdAt}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}